body{
    height: 100vh;
    overflow: scroll;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: antiquewhite;
    background-color: black;
    padding: 8px;
}

h1{
    font-weight: 900;
    font-size: 38px;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    font-size: 24px;
}

a{
    text-decoration: none;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 130px;
    height: auto;
    position: relative;
    top: 13.5px;
}