body{
    height: 100vh;
    overflow: scroll;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
    padding: 8px;
    top: -20px;
    padding-top: 0px;
    width: 1286.5px;
}

h1{
    font-weight: 900;
    font-size: 42px;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 10px;
    gap: 16px;
    font-size: 24px;
}

.text{
    max-width: 800px;
}

.hero{
    margin-left: -10px;
    margin-right: -10px;
    padding: 98px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 200px;
    background-color:black;
    color: white;
    padding-bottom: 10px;
}

.main{
    font-size: 30px;
    font-weight: bold;
}

.hero-1{
    width: 320px;
    height: 280px;
    text-align: left;
    position: relative;
    bottom: 100px;
    left: 210px;
    flex: 1;
}

.hero-2{
    flex: 1;
}

.hero > .hero-1 > button{
    border-radius: 5px;
    height: 35px;
    width: 75px;
    background-color: #860909;
    border-color: #860909;
    font-weight: bold;
    color: white;
}


.hero > .hero-2 > img{
    width: 350px;
    height: auto;
    position: relative;
    bottom: 80px;
    left: 40px;
    margin-left: 0px;
    border-radius: 5px;
}

a{
    text-decoration: none;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 100px;
    height: auto;
    position: relative;
    top: 13.5px;
}

.testimonial > .title{
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    color: black;
    text-shadow: 2px 2px 6px black;
    
}

.testimonial > .quote{
    border: 3px solid black;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    background-color: #860909;
    color: white;
    text-align: center;
}

cite{
    font-weight: 1000;
}

.testimonial > blockquote{
    font-weight: 700;

}

.hero{
    border-bottom: 5px solid #860909 ;
}


.wall-border{
    border-top: 5px solid #860909;
    margin:46px -11px;
}

.footer,
.content{
    padding: 0px 10px;
}

