body{
    height: 100vh;
    overflow: scroll;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
    padding: 8px;
    top: -20px;
    padding-top: 0px;
    width: 1286.5px;
}

h1{
    font-weight: 900;
    font-size: 42px;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 10px;
    gap: 16px;
    font-size: 24px;
}

.text{
    max-width: 800px;
}

.hero{
    margin-left: -10px;
    margin-right: -10px;
    padding: 98px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 200px;
    background-color:black;
    color: white;
    padding-bottom: 10px;
}

.main{
    font-size: 30px;
    font-weight: bold;
}

.hero-1{
    width: 320px;
    height: 280px;
    text-align: left;
    position: relative;
    bottom: 100px;
    left: 210px;
    flex: 1;
}

.hero-2{
    flex: 1;
}

.hero > .hero-1 > button{
    border-radius: 5px;
    height: 35px;
    width: 75px;
    background-color: #860909;
    border-color: #860909;
    font-weight: bold;
    color: white;
}


.hero > .hero-2 > img{
    width: 350px;
    height: auto;
    position: relative;
    bottom: 80px;
    left: 40px;
    margin-left: 0px;
    border-radius: 5px;
}

a{
    text-decoration: none;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 100px;
    height: auto;
    position: relative;
    top: 13.5px;
}

.testimonial > .title{
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    color: black;
    text-shadow: 2px 2px 6px black;
    
}

.testimonial > .says{
    border: 3px solid black;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    background-color: #860909;
    color: white;
    box-shadow: 5px 5px #909193;
    text-align: center;
}

cite{
    font-weight: 1000;
}

.testimonial > blockquote{
    font-weight: 700;

}

.hero{
    border-bottom: 5px solid #860909 ;
}


.wall-border{
    border-top: 5px solid #860909;
    margin:46px -11px;
}

.footer,
.content{
    padding: 0px 10px;
}

.wall-of-wisdom > .wall{
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    margin-top: -14px;
    color: black;
    text-shadow: 2px 2px 6px black;
}

.quote{
    display: flex;
}

.chibi{
    width: 100px;
    height: auto;
}

.one > blockquote{
    margin-left: 180px;
    position: relative;
    top: -10px;
    border: 5px solid #860909;
    padding: 10px;
    border-radius: 15px;
    color: white;
    text-align: center;
    background-color: black;
    box-shadow: 5px 5px #909193;
}

.one > .image{
    margin-left:auto;
    position: relative;
    left: -200px;
    top: -20px;
    background-color: #909193;
    border: 4px solid black;
    border-radius: 15px;
    padding:-5px 10px ;
    box-shadow: 5px 5px #909193;
}

.two > .image{
    border-radius: 15px;
    padding: 0px 10px;
    margin-right: auto;
    position: relative;
    box-shadow: -5px 5px #909193;
    left: -610px;
    top: -10px;
    background-color: #f893b5;
    border: 4px solid black;
}

.right{
    margin-left: auto;
}


.three > .image{
    margin-left:auto;
    position: relative;
    left: -200px;
    top: -10px;
    background-color: #9bd2dd;
    border: 4px solid ;
    box-shadow: 5px 5px #909193;
    border-radius: 15px;
    padding:5px 10px ;
}

.three > blockquote{
    width: 700px;
    position: relative;
    left: 140px;
    border: 4px solid;
    background-color: black;
    color: white;
    border: 5px solid #860909;
    border-radius: 15px;
    padding: 0px 10px;
    text-align: center;
    padding-right: -6px;
    box-shadow: 5px 5px #909193;
}

.two > blockquote{
    background-color: black;
    color: white;
    border: 5px solid #860909;
    border-radius: 15px;
    padding-bottom:-20px;
    padding: 13px;
    height: 75px;
    padding-top: 0px;
    padding-bottom: 5px;
    text-align: center;
    box-shadow: -5px 5px #909193;
}

.middle{
    margin-left: 160px;
}

.footer{
    background-color: black;
    color: white;
    padding: 10px ;
    margin-top: 30px;
    text-align: center;
}


